
.vs/aQordUiWPF/v16/.suo

.vs/aQordUiWPF/v16/Server/sqlite3/storage.ide-shm

.vs/aQordUiWPF/v16/Server/sqlite3/storage.ide-wal

.vs/ProjectSettings.json

.vs/slnx.sqlite

aQordUiWPF/obj/aQordUiWPF.csproj.nuget.cache

aQordUiWPF/obj/aQordUiWPF.csproj.nuget.dgspec.json

aQordUiWPF/obj/aQordUiWPF.csproj.nuget.g.props

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF_MarkupCompile.cache

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF_MarkupCompile.i.cache

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF.AssemblyInfo.cs

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF.AssemblyInfoInputs.cache

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF.assets.cache

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF.csprojAssemblyReference.cache

aQordUiWPF/obj/Debug/netcoreapp3.1/View/HomePage/MainPage.g.cs
