
.vs/slnx.sqlite

aQordUiWPF/aQordUiWPF.csproj

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF.csprojAssemblyReference.cache

.vs/aQordUiWPF/v16/Server/sqlite3/storage.ide-wal

aQordUiWPF/aQordUiWPF.csproj.user

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF_MarkupCompile.cache

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF_MarkupCompile.i.cache

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF_MarkupCompile.lref

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF.designer.deps.json

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF.designer.runtimeconfig.json

aQordUiWPF/obj/Debug/netcoreapp3.1/MainWindow.g.cs

aQordUiWPF/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs

aQordUiWPF/obj/Debug/netcoreapp3.1/View/HomePage/MainPage.g.cs

aQordUiWPF/obj/Debug/netcoreapp3.1/View/HomePage/MainPage.g.i.cs

aQordUiWPF/obj/Release/netcoreapp3.1/aQordUiWPF_MarkupCompile.cache

aQordUiWPF/obj/Release/netcoreapp3.1/aQordUiWPF_MarkupCompile.lref

aQordUiWPF/obj/Release/netcoreapp3.1/MainWindow.g.cs

aQordUiWPF/obj/Release/netcoreapp3.1/View/HomePage/MainPage.g.cs

.vs/aQordUiWPF/v16/.suo

aQordUiWPF/obj/Debug/netcoreapp3.1/MainWindow.baml
