
.vs/aQordUiWPF/v16/.suo

.vs/aQordUiWPF/v16/Server/sqlite3/storage.ide-shm

.vs/aQordUiWPF/v16/Server/sqlite3/storage.ide-wal

.vs/ProjectSettings.json

.vs/slnx.sqlite

aQordUiWPF/obj/aQordUiWPF.csproj.nuget.cache

aQordUiWPF/obj/aQordUiWPF.csproj.nuget.dgspec.json

aQordUiWPF/obj/aQordUiWPF.csproj.nuget.g.props

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF_MarkupCompile.cache

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF_MarkupCompile.i.cache

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF.AssemblyInfo.cs

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF.AssemblyInfoInputs.cache

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF.assets.cache

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF.csprojAssemblyReference.cache

aQordUiWPF/obj/Debug/netcoreapp3.1/View/HomePage/MainPage.g.cs

aQordUiWPF/aQordUiWPF.csproj.user

aQordUiWPF/bin/Debug/netcoreapp3.1/aQordUiWPF.deps.json

aQordUiWPF/bin/Debug/netcoreapp3.1/aQordUiWPF.dll

aQordUiWPF/bin/Debug/netcoreapp3.1/aQordUiWPF.pdb

aQordUiWPF/bin/Debug/netcoreapp3.1/aQordUiWPF.runtimeconfig.dev.json

aQordUiWPF/bin/Debug/netcoreapp3.1/aQordUiWPF.runtimeconfig.json

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF_MarkupCompile.lref

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF.designer.deps.json

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF.designer.runtimeconfig.json

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF.dll

aQordUiWPF/obj/Debug/netcoreapp3.1/aQordUiWPF.pdb

aQordUiWPF/obj/Debug/netcoreapp3.1/BricklayerFields.g.cs

aQordUiWPF/obj/Debug/netcoreapp3.1/BricklayerFields.g.i.cs

aQordUiWPF/obj/Debug/netcoreapp3.1/BricklayerMenu.baml

aQordUiWPF/obj/Debug/netcoreapp3.1/BricklayerMenu.g.cs

aQordUiWPF/obj/Debug/netcoreapp3.1/BricklayerMenu.g.i.cs

aQordUiWPF/obj/Debug/netcoreapp3.1/MainPage.baml

aQordUiWPF/obj/Debug/netcoreapp3.1/MainPage.g.cs

aQordUiWPF/obj/Debug/netcoreapp3.1/MainPage.g.i.cs

aQordUiWPF/obj/Debug/netcoreapp3.1/MainWindow.baml

aQordUiWPF/obj/Debug/netcoreapp3.1/MainWindow.g.cs

aQordUiWPF/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs

aQordUiWPF/obj/Release/netcoreapp3.1/aQordUiWPF_MarkupCompile.cache

aQordUiWPF/obj/Release/netcoreapp3.1/aQordUiWPF_MarkupCompile.lref

aQordUiWPF/obj/Release/netcoreapp3.1/BricklayerFields.g.cs
